

/* Terence Ordona, portal[AT]imaputz[DOT]com         */
/* http://creativecommons.org/licenses/by-sa/2.0/ 
http://www.imaputz.com/cssStuff/bigFourVersion.html   */



/*
The steps are listed in a tables with 6 columns 


step number (20)
procedure ()
parameter and notes (120)
notes for the step ()
action buttons (60)


*/


/* table headers for steps table*/



table.steps_table tr.headers th+th+th+th {
	background: #DDD;
	width: 50px
}

table.steps_table tr.headers th+th+th+th+th {
	background: #DDD;
	width: 50px
}


/* set row height in the steps table*/
table.steps_table tbody tr {
	/*line-height: 200px;*/
	overflow-y: visible !important;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* begin some basic styling here                     */
body {
	background: #EEE;
	color: #111;
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 10px;
	padding: 0
}

table {
	background: #EEE;
}

table, a {
	color: #000;
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif
}

td {
	background: #EEE;
	color: #000;
	font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	
	
}


td.steps {
	background: #FFF;
	width: 300px
}

td.step {
	background: #EEE;
	width: 300px
}

td.edit {
	background: #FFF;
	width: 300px
}

tr.table {
	background: #EEE;
}


td.rank {
	background: #EEE;
	width: 50px
}

/* rule notes */
#notes_table td.value {
	background: #EEE;
	border: 1px solid #963;
}

#notes_table td.value_editable {
	background: #FFF;
	border: 1px solid #963;
}



/* step number column*/
/* header*/
table.steps_table tr.headers th {
	background: #DDD;
	width: 50px
}


/* step procedure column*/
/* header*/
table.steps_table tr.headers th+th {
	background: #DDD;
	width: 20px
}


tr.step_row td.procedure_editable {
	background: #FFF;
	border: 1px solid #963;
	width: 100px
}

tr.step_row td.procedure {
	background: #EEE;
	border: 1px solid #963;
	width: 100px
}


/* step notes column*/
/* header*/
table.steps_table tr.headers th+th+th+th {
	background: #DDD;
	width: 200px
}


table.steps_table tr.step_row td.notes_editable {
	background: #FFF;
	border: 1px solid #963;
	width: 1000px
}

table.steps_table tr.step_row td.notes {
	background: #EEE;
	border: 1px solid #963;
	width: 1000px
}


/* step parameters column*/
/* header*/
table.steps_table tr.headers th+th+th {
	background: #DDD;
	width: 120px
}


/* table containing parameters for a function */
table.parameters_table {
	clear: both;
	border: 1px solid #963;
	height: 35px;
	overflow: auto;
	width: 215px
}


/* typed parameter value - non editable
*/

td.updatable_user_typed_value {
	background: #EEE;
	border: 1px solid #963;
	width: 100px
}

/* typed parameter value - editable
*/

td.updatable_user_typed_value_editable {
	background: #FFF;
	border: 1px solid #963;
	width: 100px
}

/* selected parameter value - non editable
*/
td.updatable_user_selected_value {
	background: #EEE;
	border: 1px solid #963;
	width: 100px
}

/* selected parameter value - editable
*/
td.updatable_user_selected_value_editable {
	background: #FFF;
	border: 1px solid #963;
	width: 100px
}





td.buttons {
	background: #EEE;
	width: 130px
}

h1 {
	font: normal normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 5px 0
}

h2 {
	font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 5px 0
}


button.objectlevel_button {
	font: normal normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 5px 0;
	width: 120px;
	float: left;
  border: 1px solid green
}


button.editsteps_button {
	font: normal normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 5px 0;
	width: 60px;
	float: left;
  border: 1px solid green
}


h3 {
	font: normal normal 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #008000;
	margin: 0 0 15px 0
}

/* end basic styling                                 */



/* */
table.single_rule_table {
	clear: both;
	border: 1px solid #963;
	height: 185px;
	overflow: auto;
	width: 600px
}



